.card-box {
    margin: 20px;
    display: grid;
    place-items: center;
    width: max-content;
    border-radius: 3px;
    background: #eee;
    box-shadow: 0 8px 10px -2px dodgerblue;
    padding: 7px;
    width: 300px;
  }
  
  .card-body {
    padding: 13px;
    display: grid;
    place-items: center;
  }
  
  
  
  
  
  .card-item-name {
    padding: 20px 0;
    width: calc(300px - 22px);
    text-align: center;
    font-weight: 500;
    font-size: 1.1em;
  }
  
  .card-item-details {
    padding-bottom: 20px;
    font-weight: 600;
    color: green;
  }
  